/* STYLING PÅ HELE SIDEN ---------------------------------------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #DCE9E9;
    width: 100vw;
}

a:any-link {
    text-decoration: none;
    color: #2C3535;
    text-transform: uppercase;
    font-weight: 600;
}

.overskrifter {
    height: 2em;
    padding-bottom: 1em;
}

p {
    font-size: 1.1em;
    line-height: 1.2em;
}

.vigtig {
    font-weight: 500;
}

.pil {
    height: 1.5em;
    padding-right: 0.5em;
    vertical-align: middle;
}


::-webkit-scrollbar {
    display: none;
}


.scrollpil {
    padding-bottom: 1em;
    animation: shake-vertical 1s ease-in-out infinite;
}

@keyframes shake-vertical {

    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20x);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

/* STYLING PÅ HELE SIDEN SLUT----------------------------------------------------------------*/

/*MENUBAR-MOBIL -----------------------------------------------------------------------------*/

/*Modificeret fra Line's eksamen vinter 2020*/

#menubar {
    width: 100vw;
    background-color: white;
    position: fixed;
    height: 6em;
    overflow: hidden;
    z-index: 99;
}

#menubar img {
    height: 5em;
    padding: 0.5em;
}


/*BURGERMENUEN MED SPIN ----------------------------*/

#menuslide {
    position: absolute;
    z-index: 99;
    top: 1.2em;
    right: 1em;
    width: 2.5em;
    padding: 1em;
}

.spinner {
    transition: all 0.3s;
    position: absolute;
    height: 0.2em;
    width: 100%;
    background-color: #2C3535;
    float: right;
    transition: all 0.3s;
    border-radius: 1em;
}

.midt,
.bund {
    position: relative;
    margin-top: 0.5em;
}

.top {
    position: relative;
}


input[type=checkbox]:checked ~ #menuslide > .midt {
    opacity: 0;
}

input[type=checkbox]:checked ~ #menuslide > .top {
    transform: rotate(135deg);
    margin-top: 1em;
}

input[type=checkbox]:checked ~ #menuslide > .bund {
    transform: rotate(-135deg);
    margin-top: -0.9em;
}

/*BURGERMENUEN MED SPIN SLUT------------------------*/


#Menu {
    height: 100%;
    margin-top: -1%;
    position: fixed;
    width: 100%;
    transform: translateX(100vw);
    transition: transform 250ms ease-in-out;
    background-color: #DCE9E9;
    padding-top: 2em;

}

/*MENUENS INDHOLD -----------------------------------*/
#menu-indhold li {
    list-style: none;
    text-transform: uppercase;
    padding: 1.5em;
    cursor: pointer;
    text-align: center;
    font-size: 1.1em;
}

#menu-indhold a:any-link {
    font-weight: 600;
}


input[type="checkbox"]:checked ~ #Menu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

/*MENUENS INDHOLD SLUT-------------------------------*/
/*MENUBAR-MOBIL SLUT-------------------------------------------------------------------------*/




/*VIDEO -------------------------------------------------------------------------------------*/

#forside-video {
    display: none;
}

/*VIDEO SLUT --------------------------------------------------------------------------------*/




/*OM CAFEEN ---------------------------------------------------------------------------------*/

#omcafeen {
    padding: 2em 2em 2em 2em;
    text-align: center;
}

#omcafeen .illustration {
    padding: 1em;
    height: 10em;
}

#omcafeen-tekst {
    margin-top: 5em;
}

#omcafeen p {
    padding: 1em;
}


/*OM CAFEEN SLUT-----------------------------------------------------------------------------*/




/*KONTAKT -----------------------------------------------------------------------------------*/

.background {
    background-color: #f8f8f8;
}

#kontakt {
    text-align: center;
    background-color: #F8F8F8;
    padding: 2em;
    max-width: 800px;
}

#kontakt section {
    border: 5px solid #9CC6C9;
    background-color: white;
    margin: 2em 0em 2em 0em;
    padding: 2em 0em 2em 0em;
}

#kontakt li {
    padding: 0.1em;
}

/*KONTAKT SLUT--------------------------------------------------------------------------------*/




/*SE VORES MENU ------------------------------------------------------------------------------*/
#menukort {
    text-align: center;
}

#menukort .link {
    font-size: 1.5em;
    color: white;
}

.madbilleder {
    z-index: 96;
    margin: 1em;
    margin-bottom: -8em;
}

.se {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.semenu-tekst {
    background-color: #9CC6C9;
    padding: 10em 1em 2em 1em;
}

.semenu-tekst .overskrifter {
    display: none;
}

.semenu-tekst p {
    display: none;
}

/*SE VORES MENU SLUT -------------------------------------------------------------------------*/




/*FORTAELLINGER ------------------------------------------------------------------------------*/
#article {
    max-width: 1300px;
    margin: 0 auto;
}

#fortaellinger {
    background-image: url(images/billeder/background_slow_1.gif);
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 3em;
}

#fortaellinger .desktop {
    max-width: 800px;
    margin: 0 auto;
}

#fortaellinger h2 {
    font-size: 1.5em;
    padding: 2em;
}

#fortaellinger-tekst {
    padding-bottom: 1em;
}

#fortaellinger p {
    padding: 0.5em 2em 0em 2em;
}

#fortaellinger .illustration {
    margin: 0 auto;
    padding: 0em 2em 2em 2em;
}

#fortaellinger .link {
    font-size: 1.2em;
    color: white;
    padding: 1em;
}


/*FORTAELLINGER SLUT -------------------------------------------------------------------------*/




/*SOME ---------------------------------------------------------------------------------------*/

#some {
    text-align: center;
    padding: 2em 0em 2em 0em;
}

#some h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

#some h3 {
    padding-bottom: 1em;
    ;
}

#some-billeder {
    display: flex;
    justify-content: space-evenly;
}

#some-billeder a {
    width: 40%;
}

#some-billeder img {
    width: 100%;
}


#insta-laptop,
#insta-tablet {
    display: none;
}

/*SOME SLUT ----------------------------------------------------------------------------------*/




/*MEDIA RESPONSIVE ---------------------------------------------------------------------------*/

@media only screen and (min-width:480px) {}

@media only screen and (min-width:768px) {

    /*FORSIDE------------------------------------------------*/

    #forside-video {
        display: block;
        text-align: center;
    }

    video {
        width: 100vw;
        z-index: 98;
    }

    #forside-video .scrollpil {
        width: 60px;
    }

    @keyframes shake-vertical {

        0% {
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
        }

        50% {
            -webkit-transform: translateY(25px);
            transform: translateY(25x);
        }

        100% {
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
        }
    }

    /*OM CAFEEN ---------------------------------------------*/
    #omcafeen {
        padding: 0em;
    }

    #omcafeen .scrollpil {
        display: none;
    }

    #omcafeen-tekst {
        display: flex;
        background: none;
        padding-bottom: 2em;
    }

    #omcafeen p {
        background: none;
        padding: 1em 0em 0em 0em;
    }

    .desktop-illustrationer img {
        display: none;
    }

    .desktop-illustrationer {
        background-image: url(images/illustrationer/sejdillu3.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 30%;
    }

    .illustrationright {
        transform: scaleX(-1);
    }

    #desktop-tekst {
        width: 40%;
    }

    /*KONTAKT -----------------------------------------------*/
    #kontakt {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: 800px;

    }

    #kontakt section {
        width: 45%;
    }


    /*MENUKORT ----------------------------------------------*/
    #menukort .se {
        display: flex;
        flex-direction: row;
        max-width: 800px;
        margin: 0 auto;
    }

    #menukort .left {
        flex-direction: row-reverse;
    }

    #menukort .se .madbilleder {
        width: 12em;
        height: 12em;
        margin: 2em 0em 2em 0em;
    }

    #menukort .right .semenu-tekst {
        width: 70%;
        margin: 1em 1em 1em -6em;
        padding: 1em 4em 1em 7em;
    }

    #menukort .left .semenu-tekst {
        width: 70%;
        margin: 1em -6em 1em 1em;
        padding: 1em 7em 1em 4em;
    }

    .semenu-tekst .overskrifter {
        display: block;
        margin: 0 auto;
    }

    .semenu-tekst p {
        display: block;
        text-align: left;
        padding: 1em;
    }



    /*FORTÆLLINGER ------------------------------------------*/

    #fortaellinger .illustration {
        float: right;
    }

    #fortaellinger p {
        text-align: left;
    }



    /*SOME --------------------------------------------------*/
    #insta-tablet {
        display: block;
    }

    #some-billeder a {
        width: 30%;
    }

    #some-tekst {
        display: flex;
    }

    #some-tekst h3 {
        width: 50%;
        padding-bottom: 2em;
    }



}



@media only screen and (min-width:1100px) {

    /*FORSIDE------------------------------------------------*/
    @keyframes shake-vertical {

        0% {
            -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
        }

        50% {
            -webkit-transform: translateY(-45px);
            transform: translateY(-45x);
        }

        100% {
            -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
        }
    }



    /*OM CAFEEN ---------------------------------------------*/
    #omcafeen {
        padding: 0em 5em 5em;
    }

    #omcafeen p {
        font-size: 1.4em;
    }

    /*KONTAKT -----------------------------------------------*/

    #kontakt li {
        font-size: 1.2em;
        padding: 0.5em;
    }


    /*MENUKORT ----------------------------------------------*/

    .semenu-tekst p {
        font-size: 1.4em;

    }


    /*FORTÆLLINGER ------------------------------------------*/



    /*SOME --------------------------------------------------*/
    #insta-laptop {
        display: block;
    }

    #some-billeder a {
        width: 20%;
    }


}

/*MEDIA RESPONSIVE SLUT-----------------------------------------------------------------------*/
