/* Styling på hele siden-----------------------------------------------------------------------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #9CC6C9;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.overskrifter {
    height: 2em;
    padding-bottom: 1em;
}



#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F8F8F8;
}



/*styling af alle links*/

a:any-link {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: 600;
}


/* Styling på hele siden SLUT-----------------------------------------------------------------------------------------*/



/*top menuen----------------------------------------------------------------------------------------------------------*/

#menu-desk ul li {
    display: inline;
    padding: 1em;
}

#menu-desk {
    display: flex;
    z-index: 99;
}

#menu-menukort {
    color: white;
}

#menu-fortaellinger {
    color: white;
}

#menu-sejd {
    color: white;
}

#menu-kontakt {
    color: white;
}


/*top menuen SLUT-----------------------------------------------------------------------------------------------------*/




/*SCROLL MENU---------------------------------------------------------------------------------------------------------*/

/* styling af scroll-menuen */
aside {
    position: fixed;
    float: right;
    margin: 0 auto;
}

#scroll-menu {
    float: right;
    padding: 1em;
    margin: 0 auto;
}

/* styling af ikonerne i scroll-menuen */

#scroll-menu img {
    width: 1em;
    padding: 1em;
}

#scroll-menu a:active {
    opacity: 100%;
}

/*SCROLL MENU SLUT----------------------------------------------------------------------------------------------------*/




/*INTROVIDEO SOM STADIG MANGLER AT BLIVE FIKSET-----------------------------------------------------------------------*/

#logo img {
    height: 10em;
    padding: 1em 0em 0em 2em;
    z-index: 1;
}

#intro {
    background-color: #2C3535;
    z-index: -1;
}

#introimg {
    height: 100vh;
    background-color: darkcyan;
    background-size: cover;
    z-index: 0;
}

/*INTROVIDEO SOM STADIG MANGLER AT BLIVE FIKSET SLUT------------------------------------------------------------------*/




/*SEKTION OM CAFÉEN MED INTROTEKST OG 2 ILLUSTRATIONER----------------------------------------------------------------*/

#omcafeen {
    height: 100vh;
    display: flex;
    background-color: #DCE9E9;
}

#omcafeentekst {
    width: 50%;
    font-size: 1.2em;
    text-align: center;
    margin-top: 12em;
}

#omcafeentekst p {
    padding: 1em;
}

#omcafeen img {
    width 25%;
    max-height: 80vh;
    margin-top: 8em;
}

#sejdright {
    transform: scaleX(-1)
}

/*SEKTION OM CAFÉEN MED INTROTEKST OG 2 ILLUSTRATIONER SLUT-----------------------------------------------------------*/




/*SEKTION OM ÅBNINGSTIDER OG KONTAKT----------------------------------------------------------------------------------*/

#kontakt {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    vertical-align: middle;
}

#aabningstider {
    text-align: center;
    width: 50%;
    padding-top: 40vh;

}

#kontaktinfo {
    text-align: center;
    width: 50%;
    padding-top: 40vh;
}

/*SEKTION OM ÅBNINGSTIDER OG KONTAK SLUT------------------------------------------------------------------------------*/




/*SEKTION OM MENUKORTET OG UDVALGTE LÆKKERIER-------------------------------------------------------------------------*/

#menukort {
    background-color: #DCE9E9;
    padding-top: 8em;
    padding-bottom: 5em;
}

.madbilleder {
    width: 30%;
    margin: 2em 1em 2em 1em;
    z-index: 98;
}

.semenu-tekst {
    background-color: #9CC6C9;
    padding: 3em;
    margin: 1em;
    width: 80%;
}


/* styling af links */

#menukort a {
    font-size: 1.5em;
}

.pil {
    height: 1.5em;
    padding-right: 1em;
    vertical-align: middle;
}


/* flexede elementer hvor billedet er til højre*/

.flexright {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    margin: 0 auto;
}

.flexright .madbilleder {
    margin-left: -9em;
}

.flexright .semenu-tekst p {
    width: 80%;
}

.flexright .semenu-tekst h3,
.flexright .semenu-tekst h4 {
    text-align: center;
    margin-right: 8em;
}


/* flexede elementer hvor billedet er til venstre*/

.flexleft {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.flexleft .semenu-tekst {
    padding-left: 11em;
}

.flexleft .madbilleder {
    margin-right: -9em;
}


.flexleft .semenu-tekst h4 {
    text-align: center;
    margin-right: 3em;
}

/*SEKTION OM MENUKORTET OG UDVALGTE LÆKKERIER SLUT---------------------------------------------------------------------*/




/*SEKTION OM FORTÆLLINGEEEEEER-----------------------------------------------------------------------------------------*/

#fortaellinger {
    height: 100vh;
    background-image: url(images/billeder/background_slow.gif);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row-reverse;
}

#fortaellinger-billeder {
    padding: 10em 5em 5em 5em;
}

#fortaellinger-tekst {
    padding: 10em 5em 5em 5em;
    font-size: 1.5em;
}

/*SEKTION OM FORTÆLLINGEEEEEER SLUT------------------------------------------------------------------------------------*/



/* SEKTION OM SOCIALE MEDIER ------------------------------------------------------------------------------------------*/

#some {
    background-color: #DCE9E9;
    text-align: center;
}

#some h2 {
    font-size: 3em;
    padding-top: 1em;
}

#some-billeder {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5em;
}

#some-billeder img {
    width: 300px;
}

#some-tekst {
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

/* SEKTION OM SOCIALE MEDIER SLUT--------------------------------------------------------------------------------------*/
