/* STYLING PÅ HELE SIDEN ---------------------------------------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #DCE9E9;
}

main {
    height: 100vh;
}

a:any-link {
    text-decoration: none;
    color: #2C3535;
    text-transform: uppercase;
    font-weight: 600;
}

.overskrifter {
    height: 2em;
    padding-bottom: 1em;
}

p {
    font-size: 1.1em;
    line-height: 1.2em;
}

.vigtig {
    font-weight: 500;
}

.pil {
    height: 1.5em;
    padding-right: 0.5em;
    vertical-align: middle;
}


/* STYLING PÅ HELE SIDEN SLUT----------------------------------------------------------------*/

/*MENUBAR-MOBIL -----------------------------------------------------------------------------*/

/*Modificeret fra Line's eksamen vinter 2020*/

#menubar {
    width: 100%;
    background-color: white;
    position: fixed;
    height: 6em;
    overflow: hidden;
    z-index: 99;
}

#menubar img {
    height: 5em;
    padding: 0.5em;
}


/*BURGERMENUEN MED SPIN ----------------------------*/

#menuslide {
    position: absolute;
    z-index: 99;
    top: 1.2em;
    right: 1em;
    width: 2.5em;
    padding: 1em;
}

.spinner {
    transition: all 0.3s;
    position: absolute;
    height: 0.2em;
    width: 100%;
    background-color: #2C3535;
    float: right;
    transition: all 0.3s;
    border-radius: 1em;
}

.midt,
.bund {
    position: relative;
    margin-top: 0.5em;
}

.top {
    position: relative;
}


input[type=checkbox]:checked ~ #menuslide > .midt {
    opacity: 0;
}

input[type=checkbox]:checked ~ #menuslide > .top {
    transform: rotate(135deg);
    margin-top: 1em;
}

input[type=checkbox]:checked ~ #menuslide > .bund {
    transform: rotate(-135deg);
    margin-top: -0.9em;
}

/*BURGERMENUEN MED SPIN SLUT------------------------*/


#Menu {
    height: 100%;
    margin-top: -1%;
    position: fixed;
    width: 100%;
    transform: translateX(1350px);
    transition: transform 250ms ease-in-out;
    background-color: #DCE9E9;
    padding-top: 2em;

}

/*MENUENS INDHOLD -----------------------------------*/
#menu-indhold li {
    list-style: none;
    text-transform: uppercase;
    padding: 1.5em;
    cursor: pointer;
    text-align: center;
    font-size: 1.1em;
}

#menu-indhold a:any-link {
    font-weight: 600;
}


input[type="checkbox"]:checked ~ #Menu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

/*MENUENS INDHOLD SLUT-------------------------------*/
/*MENUBAR-MOBIL SLUT-------------------------------------------------------------------------*/





/*KONTAKT -----------------------------------------------------------------------------------*/

#kontakt {
    text-align: center;
    background-color: #F8F8F8;
    padding: 6em 2em 2em 2em;
    margin: 0 auto;
    max-width: 800px;
}

#kontakt section {
    border: 5px solid #9CC6C9;
    background-color: white;
    margin-top: 2em;
    padding: 2em 0em 2em 0em;
}

#kontakt li {
    padding: 0.1em;
}


#rutevejledning {
    text-align: center;
    background-color: #f8f8f8;
    margin: 0 auto;
    max-width: 864px;
}

#rutevejledning #vejledning {
    padding: 2em;
}

#kort {
    display: none;
}

/*KONTAKT SLUT--------------------------------------------------------------------------------*/




/*SOME ---------------------------------------------------------------------------------------*/

#some {
    text-align: center;
    padding: 2em 0em 2em 0em;
}

#some h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

#some h3 {
    padding-bottom: 1em;
    ;
}

#some-billeder {
    display: flex;
    justify-content: space-evenly;
}

#some-billeder a {
    width: 40%;
}

#some-billeder img {
    width: 100%;
}


#insta-laptop,
#insta-tablet {
    display: none;
}


/*SOME SLUT ----------------------------------------------------------------------------------*/



@media only screen and (min-width:1100px) {}

@media only screen and (min-width:768px) {
    #kontakt {
        display: flex;
        justify-content: space-evenly;
    }

    #kontakt section {
        width: 45%;
    }

    #kort {
        display: block;
        padding-bottom: 5em;
    }

    /*SOME --------------------------------------------------*/
    #insta-tablet {
        display: block;
    }

    #some-billeder a {
        width: 30%;
    }

    #some-tekst {
        display: flex;
    }

    #some-tekst h3 {
        width: 50%;
        padding-bottom: 2em;
    }
}

@media only screen and (min-width:1100px) {

    /*KONTAKT -----------------------------------------------*/

    #kontakt li {
        font-size: 1.2em;
        padding: 0.5em;
    }

    /*SOME --------------------------------------------------*/
    #insta-laptop {
        display: block;
    }

    #some-billeder a {
        width: 20%;
    }
}
